


<h1>Меню</h1>
<div class="list-group w-50">
    <a asp-action="Index" class="list-group-item list-group-item-action">Cторінка перегляду персоналу з фільтрами пошуку</a>
    <a asp-action="Payroll" class="list-group-item list-group-item-action">Зарплатна звітність</a>
</div>